<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-brand">
        <img src="assets/images/logo-white.png" alt="EverWash" class="footer-logo" width="180" height="40">
        <p class="footer-description">
          The complete car wash membership growth platform with the tools and people to help you succeed.
        </p>
        <div class="footer-social">
          <a href="#" class="social-link">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="#" class="social-link">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="#" class="social-link">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="social-link">
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>

      <div class="footer-menu">
        <div class="row">
              <!-- Solutions Column -->
              <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <h4 class="footer-title">Solutions</h4>
                <ul class="footer-links">
                  <li><a href="#">For Car Wash Operators</a></li>
                  <li><a href="#">For Fleets</a></li>
                  <li><a href="#">For Distributors</a></li>
                  <li><a href="#">For Associations</a></li>
                </ul>
              </div>

              <!-- Resources Column -->
              <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <h4 class="footer-title">Resources</h4>
                <ul class="footer-links">
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Case Studies</a></li>
                  <li><a href="#">Membership Guide</a></li>
                  <li><a href="#">Support Center</a></li>
                </ul>
              </div>

              <!-- Company Column -->
              <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <h4 class="footer-title">Company</h4>
                <ul class="footer-links">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Careers</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Press</a></li>
                </ul>
              </div>
            </div>
      </div>

      <div class="footer-bottom">
        <span>© 2025 EverWash, Inc. All rights reserved.</span>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
      
    </div>
  </div>
</footer>